body {
  background: #FFFFFF;
  color: #117190;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 20px auto;
  width: 500px;
}
a {
  color: #117190;
  text-decoration: none;
}

job {
  border: 1px thick black
}